@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
}

html, body {
  width: 100%;
}

body {
  background: hsl(213, 35%, 16%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  padding: 0 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 0 0 7px 0 rgba( 0, 0, 0, 0.75 );
  background: hsl(222, 18%, 11%);
  z-index: 10;
}

#main-header {
  position: fixed;
  width: 80%;
  top: 0;
  left: -100%;
  bottom: 0;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  transition: left 150ms ease-in-out;
  background: hsl(222, 18%, 11%);
  z-index: 8;
}

.sliding-menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  transform: translateX(100%);
  background: hsl(0, 0%, 0%, 50%);
  transition: right 250ms ease-in-out;
}

.main-header-item {
  padding: 5px 12px;
  font-size: 22px;
  font-weight: 400;
  color: hsl(0, 0%, 74%);
  text-decoration: none;
  border-top: 1px solid hsl(227, 9%, 20%);
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

#user-action {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#user-action img {
  display: block;
  width: 35px;
  height: 35px;
  border: 2px solid hsl(202, 87%, 68%, 50%);    
}

#user-action .main-header-item {
  color: white;
  font-weight: 500;
  border: none;
}

#store-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 176px;
  height: 44px;
  transform: translate(-50%, -50%);
}

#store-logo > a, #store-logo > a > img {
  width: 100%;
  height: 100%;
}

.hamburger-menu {
  width: 35px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-menu > div {
  height: 5px;
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
}

#searchbar {
  background: hsl(204, 47%, 40%);
}

#searchbar > form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar form input[type='text'], #searchbar form input[type='password'] {
  width: 100%;
  height: 25px;
  padding: 10px 6px;
  border: none;
  border-radius: 5px;
  background: hsl(204, 45%, 35%);
  color: hsl(206, 28%, 83%);
}

#searchbar:hover > form > input[type='text'] {
  border: 0.5px solid hsl(0, 0%, 100%, 90%);
}

#searchbar > form > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  background: url("/images/style/search_icon_btn.png");
  border: none;
}

.sidebar {
  display: none;
}

.sidebar-item {
  margin-bottom: 5px;
  color: hsl(202, 87%, 68%);  
  cursor: pointer;
}

.sidebar-item a {
  color: hsl(202, 87%, 68%);  
  text-decoration: none;
}

.sidebar-item a:hover {
  color: hsl(0, 0%, 100%);  
}

#more-genres {
  font-size: 14px;
  color: hsl(202, 87%, 50%);
  text-transform: uppercase;
}

/* #main-content {
  grid-column: 3 / 13;
  grid-row: 1 / 2;
  padding: 0 43px;
} */

#store-header {
  width: 100%;
  margin-top: 62px;
}

#store-navbar {
  background: hsl(204, 47%, 40%);
}

.store-nav-item {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: hsl(206, 28%, 83%);
  font-size: 13px;
  cursor: pointer;
}

.store-nav-item:hover {
  color: hsl(0, 0%, 0%, 80%);
  background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
}

.store-nav-item-active {
  color: hsl(0, 0%, 0%, 80%);
  background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
}

.slidedown-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.arrow-down-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background: url(/images/style/arrow-down.png);
}

.slidedown-menu {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  height: 0;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* transform: translateY(100%); */
  overflow: hidden;
  background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
  transition: height 150ms ease-in-out;
}

.slidedown-menu-item {
  padding: 10px 5px;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

.slidedown-menu-item:hover {
  color: hsl(0, 0%, 100%);
  background: hsl(214, 30%, 18%);
}

.slidedown-menu-item-active {
  color: hsl(0, 0%, 100%);
  background: hsl(214, 30%, 18%);
}

.slidedown-section {
  font-size: 12px;
  color:#4f94bc;
}

.section-title {
  font-size: 14px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.list-title {
  font-size: 32px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

#featured {
  margin: 30px auto 0 auto;
  width: 92vw;
}

#featured-carousel {
  width: 100%;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

#featured-displayed {
  position: relative;
  left: 0;
  height: 46vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: left 500ms ease-in-out;
}

.featured-game {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 25px;
  box-shadow: 0 0 7px 0px #000;
  text-decoration: none;
  cursor: pointer;
}

.featured-main-display {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.featured-main-display > img {
  width: 100%;
  height: 100%;
}

.preview-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* display: none; */
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.preview-overlay > img {
  width: 100%;
  height: 100%;
}

.featured-game-detail {
  display: none;
}

.carousel-control {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next, .prev {
  width: 82px;
  height: 35px;
  padding-left: 10px;
  background: linear-gradient(to left, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
  cursor: pointer;
}

.next {
  transform: rotate(180deg);
}

.next:hover, .prev:hover {
  background: linear-gradient(to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.slide-icon {
  height: 35px;
  display: flex;
  align-items: center;
}

.slide-icon > img {
  display: block;
  width: 13px;
  height: 20px;
}

#specials {
  margin: 30px auto 0 auto;
  width: 93.75%;
}

#specials-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#specials-displayed {
  position: relative;
  left: 0;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(16, 300px);  
  grid-template-rows: repeat(2, 195px);
  column-gap: 20px;
  row-gap: 20px;
  grid-auto-flow: column;
  transition: left 500ms ease-in-out;
}

.special-game {
  width: 300px;
  height: 195px;
  box-shadow: 0 0 7px 0px #000;
  cursor: pointer;
}

.special-main-display {
  width: 100%;
  height: 145px;
  display: block;
  text-decoration: none;
}

.special-main-display > img {
  width: 100%;
  height: 100%;
}

.special-offer {
  height: 50px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  background: hsl(200, 67%, 34%);
}

.special-prices {
  height: 32px;
  display: flex;
  align-items: center;
}

.discount-percent, .current-price {
  height: 100%;
  display: flex;
}

.current-price {
  padding: 4px 10px 4px 7px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 11px;
  font-weight: 300;
}

.normal-price {
  text-decoration: line-through;
  color: hsl(202, 23%, 55%);
}

.discount-price {
  font-size: 13px;
  color: hsl(201, 78%, 82%);
}

.discount-percent {
  min-width: 68px;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
  background: hsl(85, 52%, 28%);
}

.discount-percent > span {
  font-size: 26px;
  color: hsl(73, 93%, 42%);
}
.current-price {
  background: hsl(198, 66%, 15%);
}

#tab-content {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tab-navigation {
  width: 100%;
  height: 32px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background: hsl(213, 35%, 16%);
}

.tab-nav-item {
  margin-right: 5px;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: hsl(202, 45%, 52%);
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.tab-nav-active {
  background: hsl(207, 38%, 27%);
  color: hsl(0, 0%, 100%, 90%);
}

.tab-nav-item > span {
  font-size: 14px;
  font-weight: 500;
}

.tab-container {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(207, 38%, 27%);
}

.tab-game {
  position: relative;
  width: 93.75%;
  height: 70px;
  margin: 3px 0;
  display: flex;
  align-items: center;
  background: hsl(207, 37%, 20%);
  text-decoration: none;
  cursor: pointer;
}

.tab-game:hover {
  background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
}

.tab-game-fill {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tab-game:hover .tab-game-fill {
  background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
}

.tab-preview {
  flex-shrink: 0;
  width: 110px;
  height: 55px;
  z-index: 3;
}

.tab-preview > img {
  width: 100%;
  height: 100%;
}

.tab-info {
  z-index: 3;
  flex-basis: 80%;
  min-width: 190px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 10px;
  font-weight: 400;
  color: hsl(0, 0%, 100%, 90%);
}

.tab-game:hover .tab-info {
  color: hsl(0, 0%, 0%, 90%);
}

.game-title, .game-price, .game-genres {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-title {
  width: 100%;
  font-size: 14px;
}

.game-price {
  align-self: flex-end;
  font-size: 12px;
}

.game-genres {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.game-genres > span {
  display: block;
  margin-right: 5px;
}

.game-aside {
  display: none;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.item-title {
  font-size: 26px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

.item-update-delete {
  display: flex;
  align-items: center;
}

.item-update-delete a {
  color: white;
  text-decoration: none;
}

.item-game-update-delete a:visited {
  text-decoration: none;
}

.update {
  margin-right: 10px;
  padding: 4px 14px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  background: hsl(204, 47%, 40%);
  cursor: pointer;
}

.delete {
  padding: 4px 14px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  background:hsl(0, 48%, 58%);
  cursor: pointer;
}